:root {
    --main-font-family: "Roboto", sans-serif;
    --secondary-front-family: "Roleway", sans-serif;
    --primary-text-color: #2E2F42;
    --title-text-color: #434455;
    --primary-bg-color: #FFFFFF;
    --secondary-bg-color: #F4F4FD;
    --accent-color: #4D5AE5;
    --btn-hover-color: #404bbf;
    }
    
.list {list-style: none;}
        
.link {text-decoration: none;}

.body {
font-family: 'Roboto', sans-serif;
background-color:#FFFFFF;
color: #434455;
position: absolute;
width: 1440px;
height: 72px;
left: 0px;
top: 0px;
background: #FFFFFF;
border-bottom: 1px solid #E7E9FC;
}



.main-header {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 56px;
line-height: 1.07;
text-align: center;
letter-spacing: 0.02em;
}
    
.text-rob {font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.5;}

.header-text {
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;
}